@{
    ViewBag.Title = "Home";
}

<div class="container-fluid" style="min-width:40rem;">
    <img style="width:100px;height:auto;" class="float-md-left" src="~/_Markers/258.jpg" />
    <img style="width:100px;height:auto;" class="float-md-right " src="~/PLGU-NV logo.png" />
    <img style="width:100px;height:auto;" class="float-md-right" src="~/museum-original-png.png" />

    <h1>Nueva Vizcaya Provincial Museum - ARTMO</h1>
    <p class="lead">Artmo brings an Augmented Reality Technology to Nueva Vizcaya Provincial Museum.</p>
    <hr />
    <br />
    <p>Experience Augmented Reality  by downloading ARTMO and by visiting Nueva Vizcaya People's Library and Museum.</p>
    @Html.ActionLink("Download Artmo", "Download", "Artmo", null, new { @class = "btn btn-dark btn-lg ripple", title = "Download Artmo" })
    <hr class="my-4">
    <p>
        ARTMO is a ANDROID Mobile Application  using Augmented Reality(AR) Technology to offer an innovative experience of showcasing Nueva Vizcaya's historical and cultural artifacts. It gives a superimposed reality that enhaces your perception of reality through 3D objects on the screen by scanning Target Images which can only be available at the Museum. It provides the different information and details of the different artifacts such as native names, english terms, descriptions and more! You can also learn more through watching videos or listen to sounds.
    </p>
    <p>
        If you are not fond of reading, you can also choose to listen to a narration audio while looking at the artifacts in more detail. It also gives a cultural touch by giving you an option of choosing Ilocano as the application's language.
    </p>
    <div class="ui cards centered container">
        <div class="card bg-transparent" style="height:auto;min-width:10rem;max-width:10rem">
            <img style="height:auto;width:10rem;" src="~/s1.png" />
        </div>
        <div class="card bg-transparent" style="height:auto;min-width:10rem;max-width:10rem">
            <img style="height:auto;width:10rem;" src="~/s2.png" />
        </div>
        <div class="card bg-transparent" style="height:auto;min-width:10rem;max-width:10rem">
            <img style="height:auto;width:10rem;" src="~/s3.png" />
        </div>
        <div class="card bg-transparent" style="height:auto;min-width:10rem;max-width:10rem">
            <img style="height:auto;width:10rem;" src="~/s4.png" />
        </div>
        <div class="card bg-transparent" style="height:auto;min-width:10rem;max-width:10rem">
            <img style="height:auto;width:10rem;" src="~/s5.png" />
        </div>
        <div class="card bg-transparent" style="height:auto;min-width:10rem;max-width:10rem">
            <img style="height:auto;width:10rem;" src="~/s6.png" />
        </div>
    </div>
    <div class="accordion text-black-50" id="accordionParent">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link text-black" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        WHY ARTMO ?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionParent">
                <div class="card-body">
                    The "ART-" in ARTMO is possibly an abbreviation from the words ART-ifact and A-ugmented R-eality T-echnology which gives a 2-in-1 meaning, while the "-MO" is abbreviated from MO-bile application. Combined the two, it forms ARTMO.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed text-black" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        CAN I USE ANY DEVICE?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionParent">
                <div class="card-body">
                    This is an Android-based mobile applicaiton developed using Unity. It is only supported by devices with Androids Level 4.4 and above.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed text-black" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        DO I NEED TO BE CONNECTED ON THE INTERNET?
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionParent">
                <div class="card-body">
                    No. ARTMO is an offline application that works perfectly without constant connection to the internet.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed text-black" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        HOW CAN I ACQUIRE THE APPLICATION?
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionParent">
                <div class="card-body">
                    You can download the applcation through accessing the site, nvartmo.com/DownloadArtmo. You can also ask for the museum staff or any user to share the application through sharing-applications.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed text-black" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        IS IT FREE OF USE?
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionParent">
                <div class="card-body">
                    Yes, this mobile applicaiton is free and charges no cost in the installation and sharing.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSeven">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed text-black" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        WHAT TO DO IF MY DEVICE CANNOT INSTALL THE APPLICATION?
                    </button>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionParent">
                <div class="card-body">
                    1.) Check your device storage<br />
                    Your device must have atleast free 300 MB of storage in order to install the application<br />
                    2.) Check your settings<br />
                    Go to your device settings and navigate to your Application Settings >> Check "Unknown Sources" (Allows installation of non-market applications).<br />
                    3.) Ask for assistance<br />
                    <b>Ask for the museum staff for any more encountered problems</b>
                </div>
            </div>
        </div>
    </div>
</div>
    <hr />
    <center>
        <h1 class="bg-dark text-white">THE COLLECTIONS AND FACILITIES</h1>
    </center>
    <hr />

    <div class="ui special cards centered">
        <div class="card">
            <div class="blurring dimmable image">
                <img src="~/NVPM/agriculture.png" />
            </div>
            <div class="content">
                <a class="header">Agriculture and Ritual</a>
            </div>
            <div class="extra content">
                <a>
                    Museum Collection
                </a>
            </div>
        </div>

        <div class="card">
            <div class="blurring dimmable image">
                <img src="~/NVPM/AVR.jpg" />
            </div>
            <div class="content">
                <a class="header">Audio Visual Room</a>
            </div>
            <div class="extra content">
                <a>
                    Museum Facility
                </a>
            </div>
        </div>

        <div class="card">
            <div class="blurring dimmable image">
                <img src="~/NVPM/balete pass.png" />
            </div>
            <div class="content">
                <a class="header">World War II</a>
            </div>
            <div class="extra content">
                <a>
                    Museum Collection
                </a>
            </div>
        </div>

        <div class="card">
            <div class="blurring dimmable image">

                <img src="~/NVPM/barong.png" />
            </div>
            <div class="content">
                <a class="header">The Ilocano Collection</a>
            </div>
            <div class="extra content">
                <a>
                    Museum Collection
                </a>
            </div>
        </div>

        <div class="card">
            <div class="blurring dimmable image">
                <img src="~/NVPM/Gallery 365.png" />
            </div>
            <div class="content">
                <a class="header">Art Gallery and Open Exhibit Area</a>
            </div>
            <div class="extra content">
                <a>
                    Museum Facility
                </a>
            </div>
        </div>

        <div class="card">
            <div class="blurring dimmable image">

                <img src="~/NVPM/IMG_8610.png" />
            </div>
            <div class="content">
                <a class="header">Accessories and  Weaponory</a>
            </div>
            <div class="extra content">
                <a>
                    Museum Collection
                </a>
            </div>
        </div>

        <div class="card">
            <div class="blurring dimmable image">

                <img src="~/NVPM/religious.png" />
            </div>
            <div class="content">
                <a class="header">Ecclesiastical</a>
            </div>
            <div class="extra content">
                <a>
                    Museum Collection
                </a>
            </div>
        </div>

        <div class="card">
            <div class="blurring dimmable image">

                <img src="~/NVPM/Ues.png" />
            </div>
            <div class="content">
                <a class="header">Weaving and Textiles</a>
            </div>
            <div class="extra content">
                <a>
                    Museum Collection
                </a>
            </div>
        </div>
    </div>
    <br />
    <center>
        <div class="container-fluid">

            <h2>
                Museum Hours:
            </h2>
            Monday-Sunday 8:00 AM - 5:00  PM
            <hr width="50%" />
            -Guided  school and group tour are available by appointment.
            <br />
            -Museum Guide is free of charge.
            <h3>ADMISSION IS FREE</h3>
            <hr width="50%" />
            <div class="btn btn-dark ripple">
                <a href="https://www.facebook.com/nuevavizcayatourism" target="_blank" class="fa fa-facebook "></a>
                <a href="https://www.instagram.com/nuevavizcayatourism/" target="_blank" class="fa fa-instagram"></a>
                <a href="mailto:nuevavizcayatourism@yahoo.com" target="_blank" class="fa fa-yahoo"></a>
            </div>

            <h4>Be social with us using hashtag</h4>
            <h2>#NuevaVizcayaMuseum</h2>
        </div>
    </center>

    <hr />

    <div class="ui cards centered container">
        <div class="card bg-transparent" style="height:13rem;min-width:23rem;">
            <div class="card-header border-danger">
                Contact
            </div>
            <div class="card-body">
                <p class="card-text">For any more questions and suggestions, </p>
                <p class="card-text"> you can go and ask the developers through to this link</p>
                <a href="mailto:nvartmo@gmail.com?Subject=Artmo" target="_top" class="card-link"><span class="material-icons">email</span>nvartmo@gmail.com</a>
            </div>
        </div>

        <div class="card bg-transparent" style="height:13rem ;min-width:23rem;">
            <div class="card-header  border-info">
                Locate
            </div>
            <div class="card-body">
                <h5 class="card-title ">People's Museum and Library</h5>
                <br />
                <a href="https://goo.gl/maps/8vzspoJapGL2" target="_top" class="btn btn-dark btn-sm btn-block ripple">   <span class="material-icons">place</span>Google Map</a>
            </div>
        </div>

        <div class="card bg-transparent" style="height:13rem;min-width:23rem;">
            <div class="card-header  border-dark">
                About
            </div>
            <div class="card-body">
                <h5 class="card-title">Behind Artmo</h5>
                <br />
                <a class="btn btn-light btn-sm btn-block ripple" href="Home/About">     <span class="material-icons">code</span>Artmo Developers</a>
                @*<a href="~/Views/Home/About.cshtml">~/Views/Home/About.cshtml</a>*@
                @*@Html.ActionLink("Home", "About", "Home", null, new { @class = "btn btn-light btn-sm btn-block ripple" })*@
            </div>
        </div>
    </div>
