@{
    ViewBag.Title = "Developers";
}

@Html.ActionLink("reply", "Index", "Home", new { @class = "btn btn-dark ripple float-left material-icons" })
<center>
    <h1>TEAM ARTMO</h1>
    <br />
</center>
<div class="ui cards centered container">
    <div class="card bg-transparent" style="height:auto;min-width:20rem;max-width:20rem">
        <div class="card-header">
            <center>
                <h3>Yvan Joselle J. Lucas</h3>
                <label>Project Leader,Documenter,Multimedia Designer</label>
            </center>

        </div>
        <img style="height:auto;width:20rem;" src="~/28459194_1511116455672410_1849244414_n.jpg" />
        <div class="card-footer btn btn-dark ripple">
            <center>
                <a href="https://www.facebook.com/NinoiichiAi" target="_blank" class="fa fa-facebook "></a>
                <a href="#" style="cursor:not-allowed" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/ysellelucas/" target="_blank" class="fa fa-instagram"></a>
                <a href="mailto:yselle02@gmail.com" target="_blank" class="fa fa-google"></a>
            </center>
        </div>
    </div>
    <div class="card bg-transparent" style="height:auto;min-width:20rem;max-width:20rem">
        <div class="card-header">
            <center>
                <h3>Edgar Mc Venzon C. Acierto</h3>
                <label>Documenter,Multimedia Designer</label>
            </center>
        </div>
        <img style="height:auto;width:20rem;" src="~/28510838_1511116442339078_1437853383_n.jpg" />
        <div class="card-footer btn btn-dark ripple">
            <center>
                <a href="https://www.facebook.com/mc.mind.zero" target="_blank" class="fa fa-facebook "></a>
                <a href="https://twitter.com/mc_bsit" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/acierto.emvc/" target="_blank" class="fa fa-instagram"></a>
                <a href="mailto:emvacier@gmail.com" target="_blank" class="fa fa-google"></a>
            </center>
        </div>
    </div>

    <div class="card bg-transparent" style="height:auto;min-width:20rem;max-width:20rem">
        <div class="card-header">
            <center>
                <h3>Van Celestial M. David</h3>
                <label>Lead Multimedia Designer,Documenter</label>
            </center>

        </div>
        <img style="height:auto;width:20rem;" src="~/28512203_1511116559005733_1614465725_n.jpg" />
        <div class="card-footer btn btn-dark ripple">
            <center>
                <a href="https://www.facebook.com/vancelestialdavid" target="_blank" class="fa fa-facebook "></a>
                <a href="https://twitter.com/davidvanjo" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/rukato27/" target="_blank" class="fa fa-instagram"></a>
                <a href="mailto:vanjodavid@gmail.com" target="_blank" class="fa fa-google"></a>
            </center>
        </div>
    </div>

    <div class="card bg-transparent" style="height:auto;min-width:20rem;max-width:20rem">
        <div class="card-header">
            <center>
                <h3>June Delmar A. Labitoria</h3>
                <label>Project Developer, Multimedia Designer</label>
            </center>

        </div>
        <img style="height:auto;width:20rem;" src="~/28512314_1511116425672413_1226151114_n.jpg" />
        <div class="card-footer btn btn-dark ripple">
            <center>
                <a href="https://www.facebook.com/imjdal" target="_blank" class="fa fa-facebook "></a>
                <a href="https://twitter.com/ramledelmar" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/jdelmarr/" target="_blank" class="fa fa-instagram"></a>
                <a href="mailto:junedelmarlabitoria08@gmail.com" target="_blank" class="fa fa-google"></a>
            </center>
        </div>
    </div>
</div>
